.btn-referenzen {
  display: none;
}

#slide-umsatz {
  background: #ffa500;
}

#slide-wahrnehmung {
  background: #ff00fe;
}

#slide-responsive {
  background: #bebebe;
  background: #00ffff;
  background: #32cd32;
}

#slide-usability {
  background: red;
}

#slide-seo {
  background: #0000fe;
  color: white;
}

.s2 {
  color: white !important;
}

.goToProjects {
  position: absolute;
  z-index: 2;
  color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  bottom: 0;
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 3rem;
  clear: both;
  justify-content: flex-end;
  p {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .goToProjects {
    display: none;
  }
}
