.webp {
  .referenzen {
    background-size: cover;
    //background imgs desktop
    @media screen and (min-width: 768px) {
      #om90 {
        background: url("/img/om90_desktop.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #067eae;
      }
      #gluehsparwurm {
        background: url("/img/gluehsparwurm_desktop.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
      }
      #hemmerich {
        background: url("/img/hemmerich_desktop.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt desktop2
      }
    }
    //background imgs tablet
    @media screen and (max-width: 768px) {
      #om90 {
        background: url("/img/om90_tablet.webp");
        background-size: 100%;
        // gibt tablet2
        background-repeat: no-repeat;
        background-color: #067eae;
      }
      #gluehsparwurm {
        background: url("/img/gluehsparwurm_tablet.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        //gibt tablet2
      }
      #hemmerich {
        background: url("/img/hemmerich_tablet.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt tablet2
      }
    }
    //background imgs smartphone
    @media screen and (max-width: 425px) {
      #om90 {
        background: url("/img/om90_750.webp");
        // gibt noch 812 und 812-2
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #067eae;
      }
      #gluehsparwurm {
        background: url("/img/gluehsparwurm_smartphone2.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt smartphone2 und smartphone3
      }
      #hemmerich {
        background: url("/img/hemmerich_smartphone.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt noch smartphone2
      }
    }
  }
}

.no-webp {
  .referenzen {
    background-size: cover;
    //background imgs desktop
    @media screen and (min-width: 768px) {
      #om90 {
        background: url("/img/om90_desktop.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #067eae;
      }
      #gluehsparwurm {
        background: url("/img/gluehsparwurm_desktop.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
      }
      #hemmerich {
        background: url("/img/hemmerich_desktop.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt desktop2
      }
    }
    //background imgs tablet
    @media screen and (max-width: 768px) {
      #om90 {
        background: url("/img/om90_tablet.jpg");
        background-size: 100%;
        // gibt tablet2
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #067eae;
      }
      #gluehsparwurm {
        background: url("/img/gluehsparwurm_tablet.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        //gibt tablet2
      }
      #hemmerich {
        background: url("/img/hemmerich_tablet.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt tablet2
      }
    }
    //background imgs smartphone
    @media screen and (max-width: 425px) {
      #om90 {
        background: url("/img/om90_750.jpg");
        // gibt noch 812 und 812-2
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #067eae;
      }
      #gluehsparwurm {
        background: url("/img/gluehsparwurm_smartphone2.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt smartphone2 und smartphone3
      }
      #hemmerich {
        background: url("/img/hemmerich_smartphone.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #b2b2b2;
        // gibt noch smartphone2
      }
    }
  }
}

.referenzen {
  h1,
  h2 {
    //   font-size: 2rem;
    color: #000000;
  }
  @media screen and (min-width: 768px) {
    h1,
    h2 {
      text-align: left;
      margin-left: 2em;
    }
  }

  .slide {
    padding-top: 30vh;
  }

  .btn-container {
    display: inline-block;
    padding: 10px;
    width: auto;
    margin: 0 auto;
  }
}
