h1,
h2 {
  font-family: "Montserrat";
  text-align: center;
}

.s1 {
  background: url("/img/wlan.gif");
  background-size: cover;
  background-position: center center;
}

.s2 {
  //background: url("/img/skateboard.jpg");
  //background-size: cover;
  background: white;
  h1,
  h2 {
    font-size: 4rem;
  }
  @media screen and (min-width: 768) {
    h1,
    h2 {
      text-align: left;
      margin-left: 2em;
    }
  }
}

.s3 {
  background: url("/img/wasser.jpg");
  background-size: cover;
  h1,
  h2 {
    font-size: 2rem;
    color: #000000;
  }
  @media screen and (min-width: 768) {
    h1,
    h2 {
      text-align: left;
      margin-left: 2em;
    }
  }
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #000000 !important;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #000000 transparent transparent !important;
}

.section {
  justify-content: center;
  text-align: center;
}

#slide-umsatz {
  background: green;
}
