h1,
h2 {
  font-family: "Montserrat";
  text-align: center;
}

.s1 {
  background: url("/img/wlan_green.gif");
  background-size: cover;
  background-position: center center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    text-shadow: #000000 2px 2px 1px;
  }
}

.s2 {
  //background: url("/img/skateboard.jpg");
  //background-size: cover;
  background: white;

  @media screen and (min-width: 768) {
    h1,
    h2 {
      text-align: left;
      margin-left: 2em;
    }
  }
}

.section {
  justify-content: center;
  text-align: center;
}
